@model microbloggerDemoSite.Models.Auth.LogInModel
@{
    ViewBag.Title += "LogIn";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Login. <small>Welcome back!</small></h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Html.ValidationSummary()
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.EditorForModel()
            <br />
            <button class="btn btn-success" type="submit">Log In</button>
        }
    </div>
</div>