@model microbloggerDemoSite.Models.RegisterModel
@{
    ViewBag.Title += "Register";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Registration! <small>...clearly, you are an awesome person.</small></h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Html.ValidationSummary()
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            @Html.EditorForModel()
            <br />
                <button class="btn btn-primary" type="submit">Register</button>
        }
    </div>
</div>
