@model microbloggerDemoSite.Blog.Models.Post

@{
    ViewBag.Title = "Get";
}

<h2>Get</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            <p class="blog-post">@Model.Content</p>
        </dd>

    </dl>
</div>